// 언더라인
@mixin underline {
    text-decoration: underline;
    text-underline-position: under;
}

// 한줄 효과
@mixin line-one {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 두줄 효과
@mixin line-two {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// 두줄 이상
@mixin line($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin splitTextClip {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

@mixin splitTextClipDesc {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

@mixin gridHover {
    background-color: rgba(255, 255, 255, 0.418);
}