.about {
    .main_grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2 grid2 grid2 grid2 grid2 . grid7"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
            "grid3 grid3 grid3 grid5 grid5 grid4 grid4 grid4"
        ;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);

        @media(max-width: 1400px) {
            grid-template-areas:
                "grid1 grid2 grid2 grid2 grid2 grid7"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
            ;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(7, 1fr);
        }

        @media(max-width: 1000px) {
            grid-template-areas:
                "grid1 grid1 grid2 grid2 grid2 grid7 grid7"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
            ;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }

        @media(max-width: 700px) {
            grid-template-areas:
                "grid1 grid1 grid1 grid7 grid7 grid7"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid4 grid4 grid4 grid4 grid4 grid4"
                "grid4 grid4 grid4 grid4 grid4 grid4"
                "grid4 grid4 grid4 grid4 grid4 grid4"
                "grid4 grid4 grid4 grid4 grid4 grid4"
            ;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }

        @media(max-width: 450px) {
            grid-template-areas:
                "grid1 grid6 grid7"
                "grid3 grid3 grid3"
                "grid3 grid3 grid3"
                "grid3 grid3 grid3"
                "grid3 grid3 grid3"
                "grid4 grid4 grid4"
                "grid4 grid4 grid4"
                "grid4 grid4 grid4"
            ;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        >div {


            &:nth-child(1) {
                grid-area: grid1;

                .split_text_clip {
                    @include splitTextClip;
                }

            }

            &:nth-child(2) {
                grid-area: grid2;
                display: flex;
                align-items: flex-end;

                @media(max-width: 950px) {
                    display: none;
                }

            }

            &:nth-child(3) {
                grid-area: grid3;
                opacity: 0.8;

                .split_text_clip {
                    position: absolute;
                    left: 1rem;
                    bottom: 1rem;
                }

                .about_img {
                    background-image: url(../img/contact04.jpg);
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                }
            }

            &:nth-child(4) {
                grid-area: grid4;

                .split_text_clip {
                    @include splitTextClipDesc;
                }
            }

            &:nth-child(5) {
                grid-area: grid5;

                .commentdesc {
                    top: 1rem;
                    position: absolute;
                    height: calc(100% - 0.5rem);
                    padding: 1rem;
                }

                .split_text_clip {
                    @include splitTextClipDesc;
                }

                @media(max-width:450px) {
                    display: none;
                }
            }

            &:nth-child(6) {
                grid-area: grid6;
                display: none;

                .split_text_clip {
                    @include splitTextClip;
                }

                @media(max-width:450px) {
                    display: flex;
                }
            }

            &:nth-child(7) {
                grid-area: grid7;

                .split_text_clip {
                    @include splitTextClip;
                }
            }
        }
    }
}